# Practice Exercise

##### Question 1: Swapping

You are given two integer variables,  x and y. You have to swap the values stored in x and y.

In [2]:
# Take input using input()
in_string  = input("Enter the numbers:")

#here extract the two numbers from the string
mylist = in_string.split(',')
x = int(mylist[0])
y = int(mylist[1])

#print x and y before swapping
print("x before swapping:",x)
print("y before swapping:",y)

x= x+y
y= x-y
x= x-y

#print x and y after swapping
print("x after swapping:",x)
print("y after swapping:",y)

Enter the numbers:200,340
x before swapping: 200
y before swapping: 340
x after swapping: 340
y after swapping: 200

##### Question 2: Even Or Odd
Given an integer, print whether it is Even or Odd.

In [1]:
#Take input from user
num=int(input())

#start writing your code from here
if num%2 == 0:
    print("Even")
else:
    print ("Odd")

2093457
Odd

##### Question 3: 
Find the highest no, among given nos

In [5]:
#Take input from user

a= int(input("Enter first no: "))
b= int(input("Enter second no: "))
c= int(input("Enter third no: "))
max= a
if max<b:
   max= b
if max<c:
   max= c
print("highest no is:", max)

Enter first no: 300
Enter second no: 450
Enter third no: 900
highest no is: 900

##### Question 5:

##### Question 4: Print the pattern given below:



![image.png]()

In [7]:
# Print the pattern shown in the question above:

In [9]:
# Print the pattern shown in the question above:

###############

Question 6: Take the user input to print the current date

In [ ]:
# Take the user input into a string:

# Print the date:

Question 7: Type cast the interger 1.8 into a string and print the result.

In [ ]:
# Store the interger as a varaible:

# Typecast the integer:

# Print the result:

Question 8: Find the product of two numbers input by the user.

In [ ]:
# Take input of the first number and store it in a variable:

# Take input of the second number and store it in a variable:

# You will need to typecast the input strings into integers
# Calculate the product:

# Print the result:

Question 9: Calculate the remainder of the number 6 when divided by the number 4.

In [ ]:
# Find the modulus and print the result:

Question 10: Solve the error in code below and print the correct result.

In [ ]:
# Given:
print('I can't study any longer')

# Corrected solution:

Question 11: Print the following statement using only 1 print statement:

Hello

Good Morning

In [ ]:
# Print the required statement:\

Question 12: Concatenate the given strings and print the result:

In [ ]:
# Given below are the two strings:
string1= 'Welcome to upgrad'
string2= 'coding practice session.'

# Concatenate and print the result:

Question 13: Find the length of string given below and print the result.

In [ ]:
# Given below is the string:

# Calculate and print the length:

Question 14: Create a string of length=10. Obtain the fifth and seventh character of the string. Concatenate the characters and form a new string. Print the new string.

In [ ]:
# Create a string of length 10:

# You can verify the length:

# Obtain the fifth letter and store it into a new string:

# Obtain the seventh letter and store it into a new string:

# Concatenate the two strings:

# Print the result:

Question 15: Given below is a string. Perform the following operations and print the results:
1. Remove the extra spaces from the string and print the new string.
2. Find the length of new string
3. Remove the last 5 characters of the new string
4. Find the 15th character of the new string
5. Compute the result of concatenation of the first and last letter of the new string.

In [ ]:
# Given below is the string:
line= '     I hope you enjoyed this practice session.'

# Removing extra spaces:

# Print the result:

# Calculate the length:

# Slice the string to remove the last 5 characters:

# Print the result:

# Print the 15th character of the string:

# Print the concatenation of first and last character of resulting string: