# Practice Exercise

##### Question 1: Swapping

You are given two integer variables,  x and y. You have to swap the values stored in x and y.

In [ ]:
# Take input using input()
in_string  = input("Enter the numbers separated by coma:")

#here extract the two numbers from the string
mylist = in_string.split(',')
x = int(mylist[0])
y = int(mylist[1])

#print x and y before swapping
print("x before swapping:",x)
print("y before swapping:",y)

x= x+y
y= x-y
x= x-y

#print x and y after swapping
print("x after swapping:",x)
print("y after swapping:",y)

Enter the numbers:12,34
x before swapping: 12
y before swapping: 34
x after swapping: 34
y after swapping: 12

##### Question 2: Even Or Odd
Given an integer, print whether it is Even or Odd.

In [ ]:
#Take input from user
num=int(input())

#start writing your code from here
if num%2 == 0:
    print("Even")
else:
    print ("Odd")

3459
Odd

##### Question 3:
Find the highest no, among given nos

In [ ]:
#Take input from user

a= int(input("Enter first no: "))
b= int(input("Enter second no: "))
c= int(input("Enter third no: "))
max= a
if max<b:
   max= b
if max<c:
   max= c
print("highest no is:", max)

Enter first no: 45
Enter second no: 67
Enter third no: 89
highest no is: 89

##### Question 4:
Write A program to accept Four digit number from user and count zero , odd and even digits presents in the entered number.

In [ ]:
#take input from user
num = input("Enter a 4 digit number ")
count_zero= 0
count_odd= 0
count_even= 0

num_length= len(num)

if num_length==4:
    for digit in num:
        if int(digit)==0:
            count_zero= count_zero+1
        elif int(digit)%2==0:
            count_even = count_even+1
        else:
            count_odd +=1
        #elif int(digit)%2!=0:
            #count_odd+=1
    print("Numbers of Zeros = {} , Even = {} , Odd = {}".format(count_zero,count_even,count_odd))
else:
    print("Sorry! Not a 4 digit number")

Enter a 4 digit number 5670
Numbers of Zeros = 1 , Even = 1 , Odd = 2

#### Question 5:
Write a program to accept ‘n’ numbers from user , store these numbers into an list. Find out maximum and minimum number from an list.

In [ ]:
#takes the i/p from user
given_list= []
n= int(input("Enter the no present in the list "))

#create the list with no of elements entered by user
for i in range(0,n):
    new_list = int(input("Enter the values "))
    given_list.append(new_list)

print(given_list)
min_list = min(given_list)
max_list = max(given_list)

print("Minimum Value of array : {}".format(min_list))
print("Maximum Value of array : {}".format(max_list))

Enter the no present in the list 4
Enter the values 560
Enter the values 89
Enter the values 78
Enter the values 67
[560, 89, 78, 67]
Minimum Value of array : 67
Maximum Value of array : 560

##### Question 6:
Find the factorial of gven number

In [ ]:
def findFactorial(n):
    if n<0:
        return -1
    elif n==0:
        return 1
    else:
        r=1
        while(n>0):
            r= r*n
            n= n-1
        return r

num = int(input("Enter the num "))
k= findFactorial(num)
print("factorial is: {}".format(k))

Enter the num 290
factorial is: 60316116183878209766117976235613285674586630483425933084029202472047670485819885245164731849642810548475941525840095286214179522721593990128930118982329294365767928511440729849320802184711774330495375545958604447485894133813040753046757845833254416671760299033093062086252031499964109155039154660288221882477747977319966161835146771580496981591719779344293705580123767115637822100135690925946157620356054977604029114048086866036189530542932814283520706747909108718372525130923228359166396038270919098494331151103662489600000000000000000000000000000000000000000000000000000000000000000000000

##### Question: 7
Write a program to calculate the sum of first digit and last digit of a given number

In [ ]:
num= input("Enter the number ")
firstDigit =int(num[0])
lastdigit = int(num[-1])
finalSum= firstDigit+lastdigit
print("sum of 1st and last digit of given num is:{}".format(finalSum))

Enter the number 5678
sum of 1st and last digit of given num is:13

In [ ]:
#alternate method
num= int(input("Enter the number "))
lastDigit = num%10
#result=num%10
while num > 9:
    num = num//10
result = lastDigit+num
#result+= num
print("sum of 1st and last digit of given num is:{}".format(result))

Enter the number 456789
sum of 1st and last digit of given num is:13

#### Question:8
Write a program to calculate the sum of digits of a given number.

In [ ]:
def getSumofDigits(num):
    sum = 0
    while num>0:
        sum= sum + int(num%10)
        num= int(num/10)

    return sum
num = int(input("Enter the number: "))
#print("Sum of the digits of number : {}".format(getSumofDigits(num)))
print(getSumofDigits(num))

Enter the number: 456
15

##### Question:9
Write a program to accept a string value from the user and accept a char value from the user and and find out the total occurrence of char value in the string value.

In [ ]:
givenString = input("Enter a string: ")
givenChar = input("Enter a char: ")
count = 0
for char in givenString:
    if char == givenChar:
        count +=1
    else:
        count
print("count of {} in the string {} is: {} ".format(givenChar,givenString,count))

Enter a string: i love my india
Enter a char: i
count of i in the string i love my india is: 3

##### Question 10:
This will find if a given string is palindrom or not

In [ ]:
def isPalindrome(givenString):
    if givenString == givenString[::-1]:
        return True
    return False

#converting to lower case as python is case sensitive
givenString = input("Enter the string: ").lower()
res = isPalindrome(givenString)
if (res):
    print("{} is a palindrome".format(givenString))
else:
    print("It's not")

Enter the string: king
It's not

##### Question 10:
This will Find If a given sentence is palindrom

Question 11:
function will find first non repeated element using collection or linked hashmap.

Question 11:
Function will find first non repeated element using normal for loop

##### Question 11:
Given a string. add "*" in alternate index

In [ ]:
test_str = "rubi"
k = "*"
result = ""
for i in range(0, len(test_str)):
    result += test_str[i]+k
result = result[:-1]
print(result)

r*u*b*i

##### Question 12:
sort dictionary by value

In [ ]:
#Sort the given dict

members = {"Tom":67, "Tina": 54, "Akbar": 87, "Kane": 43, "Divya":73}
sorted_byValue = sorted(members.items(), key=lambda x: x[1])
sorted_byKeys = sorted(members.items(),  key = lambda x: x[0])
#sorted_dict = {k: v for k, v in sorted_tuples}
#print(sorted_dict)

#sorted_byValue = dict(sorted_byValue)
print(sorted_byValue)
sorted_byKeys = dict(sorted_byKeys)
print(sorted_byKeys)

[('Kane', 43), ('Tina', 54), ('Tom', 67), ('Divya', 73), ('Akbar', 87)]
{'Akbar': 87, 'Divya': 73, 'Kane': 43, 'Tina': 54, 'Tom': 67}

##### Question 13 :
create separate list with dictionary key and values

In [ ]:
## NB: items() returns list of tuple

#given dict
members = {"Tom":67, "Tina": 54, "Akbar": 87, "Kane": 43, "Divya":73}

# declare 2 separate list for keys and values
keysList=[]
values=[]

#iterate through each items of dict. else without "items()" by default dict considers its keys not values
for item in members.items():
     keysList.append(item[0])
     values.append(item[1])
print(keysList,values)

['Tom', 'Tina', 'Akbar', 'Kane', 'Divya'] [67, 54, 87, 43, 73]

##### Question 14 :

Input: test_list = [4, 6, 6, 4, 2, 2, 4, 8, 5, 8]

Output: {4: [4, 4, 4], 6: [6, 6], 2: [2, 2], 8: [8, 8], 5: [5]}

In [ ]:
test_list = [4, 6, 6, 4, 2, 2, 4, 8, 5, 8]
#using set() to get unique elements in list
unique_keys =set(test_list)

#creating dictionary with empty lists as values (dict comprehension)
res = {key: [] for key in unique_keys}

# using list comprehension to group similar items
[res[item].append(item) for item in test_list]
res

{2: [2, 2], 4: [4, 4, 4], 5: [5], 6: [6, 6], 8: [8, 8]}

#### Question 15:
separate digits and alphabets from given string

In [ ]:
#separate digits and alphabets from given string
test_str = "Ge34eks4321"
digits = ""
alphabets = ""
res =[]
for letter in test_str:
    if (letter.isdigit()):
        digits += letter
    else:
        alphabets += letter
res.append(digits)
res.append(alphabets)
print(res)

['344321', 'Geeks']

###### Question 16:
print a list consists of alternate elemets of actual one

In [ ]:
#List consists of alternate elements

test_list = [1, 4, 6, 7, 9, 3, 5]
print("original list:"+ str(test_list))
new_list = []
for i in range(len(test_list)):
    if i%2 == 0:
        new_list.append(test_list[i])
print(new_list)

original list:[1, 4, 6, 7, 9, 3, 5]
[1, 6, 9, 5]

In [ ]:
#alternate method using numpy

#importing numpy library
import numpy as np

test_list = [1, 4, 6, 7, 9, 3, 5]
print("original list:"+ str(test_list))
res = np.array(test_list)[0::2].tolist()

print(res)

original list:[1, 4, 6, 7, 9, 3, 5]
[1, 6, 9, 5]

###### Question 17:
Multiplying alternate elemnets and stored in a new list

In [ ]:
#given list
test_list = [1, 4, 6, 7, 9, 3, 5]
print("original list:"+ str(test_list))

result_list = [1,1]

#checking the index if even/alternate
for i in range(0,len(test_list)):
    if i%2== 0:
        result_list[0] = result_list[0]*test_list[i]
    else:
        result_list[1] *= test_list[i]

print(result_list)

original list:[1, 4, 6, 7, 9, 3, 5]
[270, 84]

###### Question 18:
Insert special character after every chararter pair

In [ ]:
test_str = "GeeksforGeeks"
print("original string is: "+ test_str)
res_str = ""
separator ="*"

for i in range (0,len(test_str),2):
    res_str = res_str +test_str[i:i+2]+separator
res_str = res_str[:-1]
print(res_str)

original string is: GeeksforGeeks
Ge*ek*sf*or*Ge*ek*s

##### Question 19:
Insert given special character after every chararter

In [ ]:
test_str = "geeksforgeeks"
K = '*'
res = ''
for ele in test_str:
    res += ele + K
res = res[:-1]

# printing result
print("String after character addition : " + str(res))

String after character addition : g*e*e*k*s*f*o*r*g*e*e*k*s

In [ ]:
str_1 = "Hire freelance developers"

print(str_1.strip())

Hire freelance developers

In [ ]:
????###swap the 1st and last element of a list
def swapList(list):

    first = list.pop(0)
    last = list.pop(-1)

    list.insert(0, last)
    list.append(first)

    return list

# Driver code
newList = [12, 35, 9, 56, 24]

print(swapList(newList))

[24, 35, 9, 56, 12]

In [ ]:
newList = [12, 35, 9, 24]
first = list[0]
last = list[-1]

list.insert(0,last)
list.appendd(first)

#list.insert(0, last)
print(list.insert(0,last))

TypeError: descriptor 'insert' for 'list' objects doesn't apply to a 'int' object

['Tom', 'Tina', 'Akbar', 'Kane', 'Divya'] [67, 54, 87, 43, 73]

##### Question 4: Print the pattern given below:



![image.png]()

# Print the pattern shown in the question above:

In [ ]:
# Print the pattern shown in the question above:

###############

Question 6: Take the user input of string and reverse the string

In [ ]:
# Take the user input into a string:

# Print the date:

Question 7: Type cast the interger 1.8 into a string and print the result.

In [ ]:
# Store the interger as a varaible:

# Typecast the integer:

# Print the result:

Question 8: Find the product of two numbers input by the user.

In [ ]:
# Take input using input()
in_string  = input("Enter the numbers separated by coma:")

#here extract the two numbers from the string
mylist = in_string.split(',')
mylist

Enter the numbers separated by coma:23,45

['23', '45']

Question 9: Calculate the remainder of the number 6 when divided by the number 4.

In [ ]:
# Find the modulus and print the result:

Question
Write a program to accept a sentence from the user and reverse its each word.

Question 6:
separate the alphabets & digits from the given string

Question 10: Solve the error in code below and print the correct result.

In [ ]:
num = [2,3,4,6,98]
first = int(num[0])

2

Question 11:

hello
Good morning

Question 12: Concatenate the given strings and print the result:

In [ ]:
# Given below are the two strings:
string1= 'Welcome to upgrad'
string2= 'coding practice session.'

# Concatenate and print the result:

Question 13: Find the length of string given below and print the result.

In [ ]:
# Given below is the string:

# Calculate and print the length:
def find_max(nums):
    max_num = float("-inf")
    for num in nums:
        if num>max_num:
            num=max_num
    return max_num

Question 13: Find the length of string given below and print the result.

In [ ]:
# Given below is the string:
string='Hi, I hope you are having a great learning experience.'

# Calculate and print the length:
print(len(string))

54

Question 12: Concatenate the given strings and print the result:

In [ ]:
# Given below are the two strings:
string1= 'Welcome to upgrad'
string2= 'coding practice session.'

# Concatenate and print the result:
print(string1+string2)

Welcome to upgradcoding practice session.

Question 14: Create a string of length=10. Obtain the fifth and seventh character of the string. Concatenate the characters and form a new string. Print the new string.

In [ ]:
# Create a string of length 10:
str1='Practice14'

# You can verify the length:
len(str1)

# Obtain the fifth letter and store it into a new string:
str2=str1[4]

# Obtain the seventh letter and store it into a new string:
str3=str1[6]

# Concatenate the two strings:
str4=str2+str3

# Print the result:
print(str4)

# Print the result:
list= ['a' ,'b', 'c', 'd']
list[1:-1]

tc

['b', 'c']

Question 15: Given below is a string. Perform the following operations and print the results:
1. Remove the extra spaces from the string and print the new string.
2. Find the length of new string
3. Remove the last 5 characters of the new string
4. Find the 15th character of the new string
5. Compute the result of concatenation of the first and last letter of the new string.

In [ ]:
# Given below is the string:
line= '     I hope you enjoyed this practice session.'

# Removing extra spaces:
line1=line.strip()

# Print the result:
print(line1)

# Calculate the length:
print(len(line1))

# Slice the string to remove the last 5 characters:
line2=line1[:36]

# Print the result:
print(line2)

# Print the 15th character of the string:
print(line2[14])

# Print the concatenation of first and last character of resulting string:
print(line2[0]+line2[-1])

I hope you enjoyed this practice session.
41
I hope you enjoyed this practice ses
o
Is

In [ ]:
# Consider the string given below and answer the following questions
string = "OQYWFClFhFGAvIWYwGKpmZhnJiyzTslSIhSwvOsqJMEphzmifTkyqOMNpnOtXZxmCfgDYqbaBHAUvIWhMnvwZnEMVDvmEfLrDoQnAZgQEgXQVnmSYkfedpAdhrtpOgORpYLRZYGWdhWYuqQssCUXtTzKRDAhpjUheOzUroZNzWFtZOVwIapzUYtbSbjYNErzQ"

##### Calculate the number of characters in the string

-  193
-  200
-  300
-  500

##### Count the number of occurences of 'a' in the string

-  1
-  2
-  10
-  5

##### Identify whether the string starts with 'if'.

-  True
-  False

###### Return the substring starting at index 63 and ending at index 88  [Both the indexes are inclusive]

-  'OQYWFClFhFGA'
-  'mCfgDYqbaBHAUvIWhMnvwZnEMV'
-  'IWYwGKpmZhnJiyzTslSIhSwv'
-  'JMEphzmifTkyqOMNpnOtXZ'

In [ ]:
function find_max(nums) {
2 let max_num = Number.NEGATIVE_INFINITY; // smaller than all other numbers
3 for (let num of nums) {
4 if (num > max_num) {
5 // (Fill in the missing line here)
6 }
7 }
8 return max_num;
9 }

Question 1: Print a random integer between 100 and 135

In [ ]:
#Import required libraries:

#Print a random integer in the given range:

Question 2: Create a list consisting of first 10 even numbers.

In [ ]:
# Create a list according to the given condition:

Question 3: Create a list in the following manner: [birthyear, firstname, birthdate, lastname]

In [ ]:
# Create a list according to the given condition:

Question 4: Create a nested list which consist of 2 students and their scores in mathematics and english:

Students: Alex and Cody

Alex scores 97 and 95 in mathematics and english respectively,

Cody scores 89 and 92 in mathematics and english respectively.

The list should be such that it first stores the name of students followed by the subjects and then their scores in nested lists.

In [ ]:
# Create a list according to the given condition:

Question 5: Given below is a list, find out whether is has the letter 'k' in it and print the result as true or false.

In [ ]:
# Given below is a list:
list3=[1,2,'r',7,'k',6,'o','h','d',5,9]

# Define the character you are searching for:

# print the result:

Question 6: In the tuple given below, print the 3rd element.

In [ ]:
# Given below is the tuple:
tuple1=(1,'hello','world','567')

# Print the 3rd element:
tuple[2]

tuple[2]

Question 7: Given below is a tuple. Sort the tuple and print the result.

In [ ]:
# Given below is the tuple:
tuple2=(1,25,67,100,3,54)

# Sort the tuple:

# Print the result:

Question 8: Given below is a list, convert into a set and print the output also print the length of the set.

In [ ]:
# Given below is the list:
list4=[1,2,4,6,3,2,5,4,7,4,6,5,3,2,2,1]

# Convert the list into set:

# Print the result:

# Print the length of the set:

Question 9: Given below are two sets, perform the operations given below:

1. Print their union
2. Print their intersection
3. Print their difference
4. Print their symmetric difference

In [ ]:
# Given below are two sets:
a={1,2,3,5,6,7}
b={4,5,8,9,2,3}

# Print their union:

# Print their intersection:

# Print their difference:

# Print their symmetric difference:

Question 10: Create a dictionary that stores the names and roll numbers of 5 students as given below:

1. Sam, 21
2. Cody, 12
3. Addy, 3
4. Zach, 45
5. Amy, 6

In [ ]:
# Create a dictionary:

# Print the result:

Question 11: Due to admission of new students the roll number of zach has changed from 45 to 47. Make the required changes and print the new dictionary.

In [ ]:
# Update the roll number:

# Print the new dictionary:

Question 12: Sort the dictionary according to roll number.

In [ ]:
# Sort and print the students roll number wise in ascending order: